In [1]:
import pandas as pd

# Lets create a dataframe out of a dictionary

dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

mydata = pd.DataFrame(dict)
print(mydata)

        country    capital    area  population
0        Brazil   Brasilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Dehli   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

In [2]:
mydata.index = ["BR", "RU", "IN", "CH", "SA"]
print(mydata)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [3]:
 mydata.dtypes # Types of the columns

country        object
capital        object
area          float64
population    float64
dtype: object

mydata.sort_values('capital',ascending=True) # Sort the data according to capital in Ascending order

In [4]:
print(mydata)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [5]:
print(mydata.country)

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [6]:
print(mydata['country'])

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [7]:
print(mydata[1:2])

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [8]:
print(mydata[['country','capital']])

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Dehli
CH         China    Beijing
SA  South Africa   Pretoria

In [9]:
print(mydata.head()) # Return the first n rows

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Dehli   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [10]:
print(mydata.head(2)) # Return the first n rows

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [11]:
print(mydata.loc['BR']) # Access a group of rows and columns

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [12]:
print(mydata.loc[['BR','SA']]) # Access a group of rows and columns

         country   capital   area  population
BR        Brazil  Brasilia  8.516      200.40
SA  South Africa  Pretoria  1.221       52.98

In [13]:
print(mydata.loc['BR':'SA','country']) # Access a group of rows and columns

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [38]:
# More on loc: https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.DataFrame.loc.html

In [43]:
print(mydata.at['BR','capital']) # Access a single value for a row/column label pair

Brasilia

In [46]:
print(mydata.loc['BR'].at['capital']) # Same as before but with loc

Brasilia

In [47]:
print(mydata.iat[1, 2]) # Access a single value for a row/column pair by integer position

Russia

In [58]:
pd.to_numeric(mydata['area'])

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [60]:
print(mydata.where(mydata['area']> 5))

      area   capital country  population
BR   8.516  Brasilia  Brazil       200.4
RU  17.100    Moscow  Russia       143.5
IN     NaN       NaN     NaN         NaN
CH   9.597   Beijing   China      1357.0
SA     NaN       NaN     NaN         NaN

In [61]:
print(mydata.mask(mydata['area']> 5))

     area    capital       country  population
BR    NaN        NaN           NaN         NaN
RU    NaN        NaN           NaN         NaN
IN  3.286  New Dehli         India     1252.00
CH    NaN        NaN           NaN         NaN
SA  1.221   Pretoria  South Africa       52.98

In [63]:
print(mydata.tail(2))

     area   capital       country  population
CH  9.597   Beijing         China     1357.00
SA  1.221  Pretoria  South Africa       52.98

In [66]:
#Return boolean DataFrame showing whether each element in the DataFrame is contained in values
mydata.isin(['BR','China',52.98])

     area  capital  country  population
BR  False    False    False       False
RU  False    False    False       False
IN  False    False    False       False
CH  False    False     True       False
SA  False    False    False        True

In [74]:
row = next(mydata.iterrows())[1]
print(row)

area             8.516
capital       Brasilia
country         Brazil
population       200.4
Name: BR, dtype: object

In [92]:
for index, row in mydata.iterrows():
   print(row['area'], row['country'])

8.516 Brazil
17.1 Russia
3.286 India
9.597 China
1.221 South Africa

In [96]:
# Returns a cross-section (row(s) or column(s)) from the Series/DataFrame. Defaults to cross-section on the rows (axis=0)
mydata.xs('BR')

area             8.516
capital       Brasilia
country         Brazil
population       200.4
Name: BR, dtype: object

In [98]:
mydata.xs('area', axis=1)

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [99]:
for row in mydata.itertuples():
    print(row)

Pandas(Index='BR', area=8.516, capital='Brasilia', country='Brazil', population=200.40000000000001)
Pandas(Index='RU', area=17.100000000000001, capital='Moscow', country='Russia', population=143.5)
Pandas(Index='IN', area=3.286, capital='New Dehli', country='India', population=1252.0)
Pandas(Index='CH', area=9.5969999999999995, capital='Beijing', country='China', population=1357.0)
Pandas(Index='SA', area=1.2210000000000001, capital='Pretoria', country='South Africa', population=52.979999999999997)

In [101]:
index, area, capital, country,population = row # Tuple to variables
print(index)

SA